.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*.pth
*.pt
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
wandb/
data/
/models/
